.comment{
    margin-right: 80px;
    margin-bottom: 25px;
    .review-quote{
        display: flex;
        border: 2px solid rgb(255, 255, 255);
        padding: 12px;
        position: relative;
        width: 345px;
        margin-top: 15px;
        line-height: 1.25;
        color: white;
        border-radius: 5px;
        .review-meta-data{
            display: flex;
            margin-left: 230px;
            .icon-star{
                color: white;
                font-size: 20px;
            }
            .review-time-and-rating{
                margin-left: 5px;
                margin-top: 5px;
                color: gray;
                font-size: 14px;
            }
        }
        
    }
    .review-quote:after {
        border-color: transparent #000 transparent transparent;
        border-width: 0 26px 26px 0;
        bottom: -25px;
        left: 40px;
        z-index: 1;
    }
    .review-quote:before {
        border-color: transparent #fff transparent transparent;
        border-width: 0 28px 28px 0;
        bottom: -28px;
        left: 39px;
        z-index: 0;
    }
    .review-quote:before, .review-quote:after {
        border-style: solid;
        content: '';
        display: block;
        position: absolute;
        width: 0;
    }
    .user-info{
        display: flex;
        margin-top: 12px;
        margin-left: 80px;
        img{
            width: 60px;
            height: 60px;
            border-radius: 5px; 
            cursor: pointer;
        }
        .name-time{
            display: block;
            cursor: pointer;
            .user-name{
                margin-left: 10px;
                margin-top: 7px;
                color: white;
                font-size: 18px; 
                &:hover{
                    color: lightgrey;
                } 
            }
            .time{
                margin-left: 10px;
                margin-top: 10px;
                color: grey;
                font-size: 16px;
            }
        }
        
    }
    
}
