.errMsg{
    background: rgba(255,0,0,0.35);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 5px;
    letter-spacing: 1.3px;
    border-radius: 5px;
}

.successMsg{
    background: rgba(0,255,0,0.35);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 5px;
    letter-spacing: 1.3px;
    border-radius: 5px;
}