.userList{
    flex :4;
    margin-top: 30px;
    background-color: whitesmoke;
}
.container{
    display: flex;
    margin-top: 10px;
    background-color: rgb(251, 251, 255)
  }
  .userListUser {
    display: flex;
    align-items: center;
  }
  
  .userListImg {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }

  .userListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.userListDelete{
    color: red;
    cursor: pointer;
}