.listnew{
    .newsItem{
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 10px !important;
        float: left;
        position: relative;
        min-height: 1px;
    }
}