.casts {
    flex: 4;
}

.castTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.castAddButton {
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.castTop {
    flex: 1;
}

.castTopRight {
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
   
}

.castInfoImg {
    width: 500px;
    height: 300px;
    border-radius: 8%;
     object-fit:contain;
    margin-right: 20px;
}

.castInfoTop {
    display: flex;
    align-items: center;
    justify-content: center;
}

.castName {
    font-weight: 600;
}

.castInfoBottom {
    margin-top: 10px;
    font-size: larger;
}

.castInfoItemLine {
    margin-top: 5px;
    width:700px;
    margin-left: 185px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.castInfoItem {
    display: flex;
    margin-bottom: 10px;
}

.castInfoKey {
    width: 200px;
    font-weight: 600;
}

.castBottom {
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.466);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.castForm {
    display: flex;
    justify-content: space-between;
}

.uploadButton {
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: darkblue;
    color: white;
    font-weight: 600;
    cursor: pointer;
    margin-left: 20px;
}

.castInfoValue {
    font-size: 18px
}

.castInfoValueDate {
    font-size: 12px;
    display: flex;
    margin-left: 10px;
}

.castInfoValue>input {
    color: black;
    margin-right: 10px;
}