.castdetail{
    background-color: var(--main-color);

 

    .name-cast{
        color: white;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        height: 6rem;
        font-size: 4rem;
        font-weight: 900;
        padding: 0px 6%;
        text-align: center;
    }
    .info{
        display: flex;
        img{
            flex: 2;
            display : block;
            height: 300px;
            width: 300px;
            padding: 0 4%;
            padding-left: 150px;
            }
            .content{
                color: white;
                
                line-height: 1.6rem;
               
                .item{
                    margin-bottom: .25em;
                }
               
            }
    }
    .summary{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        
        padding-right: 100px;
        white-space: normal;
        margin: 0 auto;

        max-height: initial!important;
        height: fit-content;
        
       
    }
    
     
    


   
    
}

