.castdetail{
    .name-cast{
        color: white;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        height: 6rem;
        font-size: 4rem;
        font-weight: 900;
        padding: 0px 6%;
        text-align: center;
    }
    .info{
        display: flex;
        img{
            flex: 2;
            display : block;
            width :10%;
            padding: 0 4%;
            }
            .content{
                color: white;
                flex: 8;
                .item{
                    margin-bottom: .25em;
                }
                .summary{
                    margin: .5em 0 0 ;
                }
            }
    }
    
}