
.main{
    width: 100%;
    height: 50px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
.Wrapper {
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    font-weight: bolder;
    font-size: 30px;
    color: darkblue;
    cursor: pointer;
  }
  
  .Right{
      display: flex;
      align-items: center;
  }
  
  .IconContainer {
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    color: #555;
  }
  
  .Badge{
      width: 15px;
      height: 15px;
      position: absolute;
      top: -5px;
      right: 0px;
      background-color: red;
      color: white;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 10px;
  }
  
  .Avatar{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      cursor: pointer;
  }