.newUpdateMovie {
    flex: 4;
  }
  
  .UpdateMovieForm {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .UpdateMovieFormDes {
    margin-top: 10px;
    display: inline-block;
  }
  .UpdateMovieBar {
    margin-left: 20px;
  }

  .UpdateMovieItem {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 20px;
  }

  .UpdateMovieItem > label {
    color: gray;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .UpdateMovieItem > input {
    padding: 10px;
  }
  .UpdateMovieItem>textarea {
    width: 450px;
    height: 200px;
    
   
}
  .UpdateMovieItem > select {
    padding: 10px;
  }
  
  .UpdateMovieButton {
    height: 30px;
    margin-top: 10px;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    background-color: aquamarine;
    color: green;
    font-weight: 600;
    cursor: pointer;
    align-self: center;
  }