.newCountry {
    flex: 4;
  }
  .addCountryTitle{
      display: flex;
      justify-content: center;
      margin-right:100px
  }
  .addCountryForm {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  .formLeft{
 padding:10px;
  }
  .formRight{
    margin-left: 50px;
}
.CountryItem{
    display:flex;
    
}
  .addCountryItem {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .addCountryItem > label {
    color: gray;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .addCountryItem > TextField {
    padding: 10px;
  }
  
  .addCountryItem > select {
    padding: 10px;
  }
  
  .addCountryButton {
    height: 30px;
    margin-top: 10px;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    background-color: darkblue;
    color: white;
    font-weight: 600;
    cursor: pointer;
    align-self: center;
  }