.newCast {
    flex: 4;
}

.addCastForm {
    margin-top: 10px;
    margin: 0 auto;
}

.addCastItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.addCastItem>label {
    color: gray;
    font-weight: 600;
    margin-bottom: 10px;
}

.addCastItem>input {
    width: 250px;
    padding: 10px;
}
.addCastItem>select{
    width: 250px;
    padding: 10px;
}
.addCastItemBio>textarea {
    width: 1000px;
    height: 200px;
    padding: 10px;
}

.addCastItem>select {
    padding: 10px;
}

.addCastButton {
    margin-top: 10px;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    background-color: darkblue;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.addCastButtonUpload {
    margin-bottom: 10px;
    width: auto;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    background-color: darkblue;
    color: white;
    font-weight: 600;
    cursor: pointer;
}


.addCastButtonLock {
    margin-bottom: 10px;
    width: auto;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    background-color: gray;
    color: white;
    font-weight: 600;
    cursor: pointer;
}